<div class="grid">
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Usuarios
                    <mat-icon>person</mat-icon>
                </mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi corrupti placeat vero enim! At, facilis
                asperiores? Atque assumenda ab beatae debitis! Totam cumque vel aut, cum itaque eos nobis.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Inscripciones
                </mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi corrupti placeat vero enim! At, facilis
                asperiores? Atque assumenda ab beatae debitis! Totam cumque vel aut, cum itaque eos nobis.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Cursos
                </mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi corrupti placeat vero enim! At, facilis
                asperiores? Atque assumenda ab beatae debitis! Totam cumque vel aut, cum itaque eos nobis.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumnos
                </mat-card-title>
            </mat-card-header>
        
            <mat-card-content>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quasi corrupti placeat vero enim! At, facilis
                asperiores? Atque assumenda ab beatae debitis! Totam cumque vel aut, cum itaque eos nobis.
            </mat-card-content>
        </mat-card>
    </div>
</div>