<div class="mb-5">
    <button  [disabled]="!(isAdmin$ |async)" (click)="onCreateStudent()" mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Nuevo Alumno
    </button>
</div>

<ng-container *ngIf="isLoading$ | async; then isLoading; else isNotLoading">
</ng-container>

<ng-template #isLoading>
    <mat-spinner></mat-spinner>
</ng-template>

<ng-template #isNotLoading>
    <app-student-table [dataSource]="(students | async) || []" (deleteStudent)="onDeleteStudent($event)"
        (editStudent)="onEditStudent($event)"></app-student-table>
</ng-template>