<div class="mb-5">
    <button (click)="onCreateClasses()" mat-flat-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Nueva inscripcion
    </button>
</div>
<ng-container *ngIf="isLoading$ | async; then isLoading; else isNotLoading">
</ng-container>

<ng-template #isLoading>
    <mat-spinner></mat-spinner>
</ng-template>

<ng-template #isNotLoading>
    <app-classes-table [dataSource]="(classes | async) || []" (deleteClasse)="onDeleteClasses($event)"
        (editClasse)="onEditClasses($event)"></app-classes-table>
</ng-template>