<button routerLink=".." mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
</button>
<mat-card>
    <mat-card-content>
      <h2>Detalles del curso</h2>
      <div>
        <mat-form-field>
            <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [value]="classes?.name" disabled>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
            <mat-label>Turno</mat-label>
          <input matInput placeholder="Tipo" [value]="classes?.turns"  disabled>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
            <mat-label>Nombre curso</mat-label>
          <input matInput placeholder="Nombre instructor" [value]="classes?.nameCourse"  disabled>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  
